@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Mulish:wght@200&family=Nunito:wght@200&family=Rubik:wght@300&family=Zen+Kurenaido&display=swap');

:root{
    --body-color:linear-gradient(135deg, #ec9d35, #ec3737);
    --cart-color:linear-gradient(135deg, #09d49e, #3985cc);
    --border-color:rgb(255, 166, 0);
    --font-color:black;

}
.dark-theme{
    --body-color:linear-gradient(135deg, #1a1917, #242222);
    --cart-color:linear-gradient(135deg, #292828, #474545, black);
    --border-color: rgb(114, 112, 112);
    --font-color:white;
}

*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

body{
    background: var(--body-color);
    height: 100vh;
}
.card{
    width:30%;
    background: var(--cart-color);
    color: var(--font-color);
    margin: 1px auto 0;
    border-radius: 20px;
    padding: 35px 40px;
    text-align: center;
    border: solid var(--border-color);
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px;
    height: 45px;
    border-radius: 15px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 20%;
    width: 50px;
    height: 45px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}
.search button img:hover{
    width: 16px;
    rotate: 360deg;
    transition: 0.3s;
}
.weather-icon{
    width: 170px;
    margin-top: 15px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 25px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity{
    font-size: 28px;
    margin-top: -6px;
}
.wind{
    font-size: 28px;
    margin-top: -6px;
    margin-left: -2rem;
}
.windgo{
    margin-left: 1.5rem;
}
.weather{
    display: none;
}
.error{
    text-align:left;
    width: 55%;
    margin-left: 55px;
    font-size: 20px;
    margin-top: 10px;
    display: none;
    background: linear-gradient(135deg, #1b6db1,rgb(207, 124, 124), #6163d8);
    text-align: center;
    border-radius: 0.3rem;
}
#dark{
    height: 7vh;
    float: right;
    margin-right: 1rem;
}
@media only screen and (max-width: 600px) {
    .card{
        width:90%;
        background: linear-gradient(135deg, #1b6db1, #080bee);
        color: #fff;
        border-radius: 15px;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
    }
  }